@model RiskManagementTSD.Models.AddRisk
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add risk</title>
</head>
<body>
    <div>
        This is the AddRisk.cshtml View
    </div>
</body>
</html>