@model RiskManagementTSD.Models.AddRisk
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <p>
        <h1></h1>
        Thank you for uploading the info about risk - @Model.Name! 
    </p>
    <p>Click <a asp-action="Table">here</a> to come back to the risk register</p>
</body>
</html>
