@model RiskManagementTSD.Models.AddRisk
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <p>
        <h1></h1>
        The risk @Model.Name succesfully deleted!
    </p>
    <p>Click <a asp-action="">here</a> to come back to the risk register.</p>
</body>
</html>
