@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Probability</th>
                <th>Impact</th>
                <th>Score</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </table>
        <form><button type="submit" asp-action="AddRisk">New</button></form>
    </body>
</html>